- extends 'base.haml'

- block page_title
    Bulk Create and Send Work Samples

- block content
    .container
        - if emails
            - for email in emails
                %div{'class': 'alert {% if email.was_sent %}alert-success{% else %}alert-warning{% endif %}'}
                    %button.btn.btn-sm.float-right{
                        type: 'button',
                        data-toggle: 'collapse',
                        data-target: '#email{{ forloop.counter }}',
                    }
                        Show content
                    - if email.was_sent
                        Email sent to
                    - else
                        Email
                        %strong
                            not
                        sent to
                    {{ email.to }}
                    .collapse{id: 'email{{ forloop.counter }}'}
                        %strong
                            {{ email.subject }}
                        %hr
                        %pre {{ email.body }}
        .card.mb-4
            .card-header
                %h3.mb-0
                    Bulk Create and Send Work Samples
            .card-body
                %form.needs-validation{
                    method: 'post',
                    action: '{% url "bulk_create_worksample" %}',
                }
                    - csrf_token
                    .form-group
                        %label
                            Work sample template
                        %select.form-control{name: 'worksample_template', required}
                            %option{value:''}
                                Select a template
                            - for template_pk, template_description in worksample_templates
                                %option{value: '{{ template_pk }}'}
                                    {{ template_description }}
                    .form-group
                        %label
                            Applicant names and emails
                        %textarea.form-control{
                            rows: "10",
                            name:'applicant_names_and_emails',
                            placeholder: 'Type here. Example: first-name last-name email@email.com',
                            required,
                        } {{ form.applicant_names_and_emails }}
                        %small.form-text.text-muted
                            Multiple applicants can be entered on each line.
                            Each line consists of the applicant's first-name,
                            a space,
                            the applicant's last-name,
                            a space,
                            followed by the applicant's email address.

                    .form-group
                        %label
                            From address
                        %input.form-control{
                            type: 'email',
                            name: 'from_address',
                            value: '{{ form.from_address }}',
                            required,
                        }
                        %small.form-text.text-muted
                            The email will show up in the candidate's inbox as
                            from this address
                            with your name:
                            %strong
                                {{ request.user.first_name|title }}
                                {{ request.user.last_name|title }}

                    .form-group
                        %label
                            Email subject
                        %input.form-control{
                            name: 'email_subject',
                            value: '{{ form.email_subject }}',
                            required,
                        }
                        %small.form-text.text-muted
                            Example: Thanks for applying!
                            Also,
                            you can use the same placeholders here
                            that are available below.

                    .form-group
                        %label
                            Email template
                        %textarea.form-control{
                            rows: "10",
                            name:'email_template',
                            placeholder: 'Type here. Example: Hello {% verbatim %}{{ APPLICANT_FIRST_NAME }}{% endverbatim %}, ...',
                            required,
                        } {{ form.email_template }}
                        %small.form-text.text-muted
                            HTML is allowed.
                            You can use the following placeholders in the template:
                            {% verbatim %}
                            <strong>{{ APPLICANT_FIRST_NAME }}</strong>
                            and
                            <strong>{{ WORKSAMPLE_URL }}</strong>
                            {% endverbatim %}

                    .form-group
                        .alert.alert-warning
                            %h4.alert-heading
                                Heads up!
                            .form-check
                                %input.form-check-input{type:"checkbox", required}
                                %label.form-check-label
                                    I acknowledge that the emails
                                    and other information above is correct
                                    and that clicking the
                                    "Send emails" button
                                    will send emails to all of the listed addresses.

                    .form-group
                        .buttons.float-right
                            %button.btn.btn-info.btn-lg{type: 'submit', name: 'should_send_emails', value: 'false'}
                                Preview
                            %button.btn.btn-success.btn-lg{type: 'submit', name: 'should_send_emails', value: 'true'}
                                Send emails
