- extends 'base.haml'

- block page_title
    Work Sample

- block content
    .container
        .alert.alert-info.sticky-top
            Unfortunately,
            you did not submit your solution
            by the required time.
            Thank you for your time.
